<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styling/Style.css">

    <title>Football service</title>
</head>
<body>
{% include 'nav.php' %}
<h1>This is a heading</h1></br>

<div>Outputting data from football service : GroupCount</div></br>
<div>{{ groupcount }}</div></br></br>

<div>Outputting data from football service : Groups</div></br>

<ul>
    {% for group in groups %}
        <li>
            <p>{{ group.sCode }}</br>
            {{ group.sDescription }}</p></li>

    {% endfor %}
</ul>

<div>Outputting data from football service : CountryNames</div></br>
<form method="get">
    <select name="bWithcompetitors">
        <option value="" disabled selected>- Vælg -</option>
        <option value="1">With competitors</option>
        <option value="0">without competitors</option>
    </select>
    <input type="submit" name="Udregn">

</form>
<ul>
    {% for country in countries %}
        <li>
            <p>name : {{ country.sName }}</br>
               id : {{ country.iId }}</br>
               iso code : {{ country.sIsoCode }}</br>
                flag : <img src="http://footballpool.dataaccess.eu/images/flags/{{ country.sIsoCode }}.gif"></br>
               persons : {{ country.iPersons }}</p></li>
    {% endfor %}
</ul>
</body>
</html>